{# 

## PARAMETRERS
@addClass : add a class list ( a string separed by one space)
@flagLine : passe a html flag
@eventTitle : object that contain >
    @eventTitle.class : 
    @eventTitle.text :
@title2Sejour : title n2 sejour
@iconsNotif : html of notification icones list
@eventDescript
    @eventDescript.dates : a distance on Km
    @eventDescript.animator : programmes name
    @eventDescript.Budjet : bujet
modifé", "annulée""}
    @status.class
    @status.text
 #}

<div class="event-line event-line--stay {{addClass}} row no-gutters">
    <div class="col-flag col-md d-none d-md-block">
        {{ flagLine }}
    </div>

    <div
        class="col-description col-md-7 col-lg-8 col-xl-9">

        {# order-md-2 order-2 #}


        <div class="event-line_title">
            <div class="d-inline-block d-md-none">
                {{ flagLine }}
                {# hide on mobile #}
            </div>
            <span class="{{eventTitle.class}}">{{eventTitle.text}}</span>
            <span class="icons-notif d-inline-block d-md-none">
                {{ iconsNotif}}
            </span>

        </div>
        <div class="event-line_description {{eventDescript.addClass}}">
            {% set linkDetail = "detail-sejour.html" %}
            <h2 class="{{addTitle2Class}}">
                {{ title2Sejour }}
            </h2>
            <span class="dates">
                {{eventDescript.dates}}
            </span>
            <span class="animator">{{eventDescript.animator}}</span>
            <span class="budget">{{eventDescript.budget}}</span>


        </div>
    </div>


    <div
        class="col-notif col-md d-none d-md-flex">

        {# d-none d-md-block  order-md-4 order-3 #}
        <span class="event-line_status {{status.class}}">
            {{status.text}}
        </span>


        {{ iconsNotif }}
        <a class="icon-info" href="{{linkDetail}}"></a>


    </div>

    {#  le footer mobile  #}

    <div class="col-foot-mob col-12 d-flex d-md-none">
        <a class="icon-info" href="{{linkDetail}}"></a>
        <span class="event-line_status {{status.class}}">
            {{status.text}}
        </span>
    </div>

</div>
