{# 

## PARAMETRERS
@addClass : add a class list ( a string separed by one space)
@flagLine : passe a html flag
@eventTitle : object that contain >
    @eventTitle.class : 
    @eventTitle.text :
@date : date 
@iconsNotif : html of notification icones list
@eventDescript
    @eventDescript.distance : a distance on Km
    @eventDescript.animator : programmes name
    @departureGare : name of departure gare
    @departureHoure   departure houre
    @arrivalGare :  name of arrival gare
    @arrivalhoure :  arrivale houre
@status : object display a status {"modifé", "annulée""}
    @status.class
    @status.text
 #}


<div class="event-line event-line--days {{addClass}} row no-gutters">

    <div class="col-flag col-md d-none d-md-block">
        {{ flagLine }}
    </div>

    <div class="col-title-distance col-md-2">
        <div class="event-line_title">
            <div class="d-inline-block d-md-none">
                {{ flagLine }}
                {# hide on mobile #}
            </div>
            <span class="{{eventTitle.class}}">{{eventTitle.text}}</span>
            <span class="icons-notif d-inline-block d-md-none">
                {{ iconsNotif}}
            </span>
        </div>


        <span class="h2-like d-block d-md-none">
            {{ date }}
        </span>
        <span class="distance {{eventDescript.modifierClass}}">
            {{eventDescript.distance}}
        </span>

        <span
            class="animator d-inline-block d-md-none {{eventDescript.modifierClass}}">
            {# displyed only mobile #}
            {{eventDescript.animator}}
        </span>
    </div>
    {#  col-title-distance #}


    <div
        class="col-description col-md-5 col-lg-7">

        {# order-md-2 order-2 #}


        <div
            class="{{eventDescript.modifierClass}}">

            {#  event-line_description #}

            {% set linkDetail = "detail-journee.html" %}


            <span class="animator d-none d-md-inline-block">{{eventDescript.animator}}</span>

            {# Hided only mobile #}
            {% if eventDescript.departureGare %}
                <div class="gare-info">
                    <span class="departure-gare">{{eventDescript.departureGare}}</span>
                    <span class="departure-houre">{{eventDescript.departureHoure}}</span>
                    {% if eventDescript.arrivalGare %}
                        <span class="gare-arrow d-none d-md-inline-block">
                            <i class="icon-arrow-right"></i>
                            <span class="rdv">
                                RV
                            </span>
                        </span>
                    {% endif %}
                    <span class="arrival-gare d-none d-md-inline-block">{{eventDescript.arrivalGare}}</span>
                    <span class="arrival-houre d-none d-md-inline-block">{{eventDescript.arrivalHoure}}</span>
                </div>
            {% endif %}
        </div>
    </div>


    <div
        class="col-notif col-md d-none d-md-flex">

        {# d-none d-md-block  order-md-4 order-3 #}
        <span class="event-line_status {{status.class}}">
            {{status.text}}
        </span>


        {{ iconsNotif }}
        <a class="icon-info" href="detail-journee.html"></a>


    </div>

    {#  le footer mobile  #}

    <div class="col-foot-mob col-12 d-flex d-md-none">
        <a class="icon-info" href="detail-journee.html"></a>
        <span class="event-line_status {{status.class}}">
            {{status.text}}
        </span>
    </div>

</div>
