<div class="card">
    <div class="card__banner">
        <figure> <img src={{Image}} alt=""></figure>
        {#  "img/building.jpg" #}
    </div>
    <div class="card__content">
        <h2 class="card__titre"> {{Title}} {#  card title #}</h2>
        <div class="card__resume">
            {{Description}}
            {# card resume Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam nisi, necessitatibus, sit porro cupiditate consequatur repudiandae iure tempora facilis natus mollitia ratione voluptatum alias dignissimos dolore omnis aspernatur labore? Eveniet! #}
        </div>
    </div>
    <div class="card__footer">
        <a href={{linkGitub}} class="cart__link cart__link--github">
            <i></i>
            <span> Github</span>
        </a>
        <a href={{linkDemo}} class="cart__link cart__link--demo">
            <i></i>
            <span> Démo </span>
        </a>
    </div>
</div>