<div class="hero-carousel {{addClass}}}">
    <div class="hero-carousel__images">
       <!--
        <img data-id="1" src="img/building.jpg" alt="">
        <img data-id="2" src="img/bg-hero-banner-2.jpg" alt="">
        <img data-id="3" src="img/bg-header.jpg" alt="">
        -->
          {% for item in data %}
            <img data-id="{{item.id}}" src="{{item.imgSrc}}" alt="{{item.title}}">
          {% endfor %}
    </div>
    <div class="hero-carousel__nav">
        <!--
        <a data-id="1" class="hero-carousel__nav-item"> Building </a>
        <a data-id="2" class="hero-carousel__nav-item"> fond abstrait </a>
        <a data-id="3" class="hero-carousel__nav-item"> balcon surneses </a>
        -->
         {% for item in data %}
            <a data-id="{{item.id}}" title="{{item.title}}" class="hero-carousel__nav-item"> {{item.title}}</a>
          {% endfor %}
        <div class="hero-carousel__nav-rails">
            <div class="hero-carousel__nav-cursor"></div>
        </div>
    </div>
</div>